Flask==2.3.3

CREATE TABLE users (
            user_id INTEGER PRIMARY KEY AUTOINCREMENT,
            full_name VARCHAR(255) NOT NULL,
            email VARCHAR(255) UNIQUE NOT NULL,
            password VARCHAR(255) NOT NULL,
            role VARCHAR(255) NOT NULL,
            user_phone VARCHAR(255) NOT NULL
        )
CREATE TABLE sqlite_sequence(name,seq)
CREATE TABLE applications (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            phone TEXT NOT NULL,
            comment TEXT,
            processed BOOLEAN DEFAULT FALSE,
            admin_comment TEXT
        )
CREATE TABLE news (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            title TEXT NOT NULL,
            content TEXT NOT NULL,
            date TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        )
CREATE TABLE subscriptions (
                subscription_id INTEGER PRIMARY KEY AUTOINCREMENT,
                user_id INTEGER NOT NULL,
                service_id INTEGER NOT NULL,
                price_id INTEGER NOT NULL,
                start_date DATE NOT NULL,
                end_date DATE NOT NULL,
                period INTEGER NOT NULL,
                receipt_path TEXT,
                FOREIGN KEY (service_id) REFERENCES services(id),
                FOREIGN KEY (user_id) REFERENCES users(user_id),
                FOREIGN KEY (price_id) REFERENCES prices(id)
            )
CREATE TABLE user_links (
                link_id INTEGER PRIMARY KEY AUTOINCREMENT,
                user_id INTEGER REFERENCES users(user_id),
                link TEXT NOT NULL,
                app_name VARCHAR(255)
            )
CREATE TABLE notifications (
                notification_id INTEGER PRIMARY KEY AUTOINCREMENT,
                user_id INTEGER REFERENCES users(user_id),
                subscription_id INTEGER REFERENCES subscriptions(subscription_id),
                sent_at TIMESTAMP,
                message TEXT,
                receipt_path TEXT
            )
CREATE TABLE services (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            description TEXT,
            base_price NUMERIC(10, 2) NOT NULL,
            category TEXT
        )
CREATE TABLE prices (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                service_id INTEGER NOT NULL,
                price_type TEXT NOT NULL,
                price NUMERIC(10, 2) NOT NULL,
                duration INTEGER,
                FOREIGN KEY (service_id) REFERENCES services(id)
            )
