{% extends 'base.html' %}

{% block title %}Договоры{% endblock %}

{% block content %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dogovor.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

<section class="pdf-container">
    <div class="pdf-selector">
        <label>
            <input type="radio" name="pdf" value="{{ url_for('static', filename='documents/Договор_на_услуги.pdf') }}" onclick="changePDF(this.value)" checked class='radio-input'>
            Договор на услуги
        </label>
        <label>
            <input class='radio-input' type="radio" name="pdf" value="{{ url_for('static', filename='documents/Договор_на_услуги_аренды.pdf') }}" onclick="changePDF(this.value)">
            Договор на аренды
        </label>
    </div>
    <iframe class="iframe1" src="{{ url_for('static', filename='documents/Договор_на_услуги.pdf') }}" width="100%" height="600px"></iframe>
</section>

<script>
    function changePDF(filePath) {
        const iframe = document.querySelector('.iframe1');
        iframe.src = filePath;
    }
</script>
{% endblock %}