{% extends 'base.html' %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}

{% block title %}Новости{% endblock %}

{% block content %}
<!-- Блок новостей -->
<section class="news-block">
    <h2>Новости</h2>
    <p>Новости, предупреждения о плановых работах, обновление тарифов, вся важная информация.</p>
    <div class="news-container">
        {% for title, date, content in data %}
        <div class="news-item">
            <h3>{{ title }}</h3>
            <pre class="news-content">{{ content }}</pre>
            <span>Опубликовано: {{ date }}</span>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}