{% extends 'base.html' %}

{% block title %}Цены{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.more-info');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                // Укажите полный URL или относительный путь до страницы
                window.location.href = '/#contact';
            });
        });
    });
</script>
{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/price.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}