{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<!-- Секция сотрудники -->
<section class="team-block">
    <h2>Наши сотрудники</h2>
    <div class="team-container">
        <div class="team-member">
            <img src="{{ url_for('static', filename='img/7309682.png') }}" alt="Менеджер по продажам">
            <p>Менеджер по продажам<br>8 700 755 38 71</p>
        </div>
        <div class="team-member">
            <img src="{{ url_for('static', filename='img/5.png') }}" alt="Тех поддержка">
            <p>Тех поддержка<br>8 707 265 8739</p>
        </div>
    </div>
</section>

<!-- Почему выбирают нас -->
<section class="why-us">
    <h2>Почему выбирают нас</h2>
    <div class="why-us-text">
        <p><strong>Экспертность и индивидуальный подход:</strong> Мы – команда профессионалов в программировании, внедрении и консалтинге, создаем решения, адаптированные под уникальные задачи вашего бизнеса.</p>
        <p><strong>Фокус на производственном секторе:</strong> Мы помогаем предприятиям Казахстана справляться с вызовами и развиваться, опираясь на богатый опыт в этой сфере.</p>
        <p><strong>Надежность и доверие:</strong> Ценим долгосрочные отношения, основанные на прозрачности, ответственности и уважении.</p>
        <p><strong>Гарантия качества:</strong> Наш слоган “Свое качество, свое решение” отражает нашу приверженность высоким стандартам, современным инструментам и технологиям.</p>
        <p><strong>Комплексные услуги:</strong> Предлагаем полный цикл работ: разработка, внедрение, сопровождение и техподдержка – всё в одном месте.</p>
    </div>
</section>
{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}