{% extends 'base.html' %}

{% block title %}Приложения{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/solutions.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<section class="pdf-container">
    <center><h1>Приложения</h1></center>
    <div class="solutions">
        <div class="span1">
            <h2>Бухгалтерия для Казахстана</h2>
            <pre>Предназначена для автоматизации бухгалтерского и налогового учета на предприятиях Республики Казахстан, в соответствии с действующим законодательством, а также для подготовки форм обязательной (регламентированной) отчетности в организациях, осуществляющих любые виды коммерческой деятельности: оптовую и розничную торговлю, оказание услуг, производство и т.д.
            </pre>
            <div class="images">
                    <img src="{{ url_for('static', filename='img/accounting1.png') }}" alt="Image 1" onclick="openModals(this.src)">
                    <img src="{{ url_for('static', filename='img/accounting2.png') }}" alt="Image 2" onclick="openModals(this.src)">
                    <img src="{{ url_for('static', filename='./img/accounting3.png') }}" alt="Image 3" onclick="openModals(this.src)">
            </div>
            {% if current_user.is_authenticated %}
                <a {% if current_user.role == 'admin' %} href="/admin"{% else %} onclick="sendApplication('Бухгалтерия для Казахстана')"{% endif %}><button>Подать заявку</button></a>
            {% else %}
                <a onclick="openModal('login-modal')"><button>Подать заявку</button></a>
            {% endif %}
            <a href="https://demo.1c.kz/account/prof/ru_RU/"><button>Демо версия</button></a>
        </div>
        <div class="span1">
            <h2>Зарплата и управление персоналом для Казахстана</h2>
            <pre>Решение «1С:Зарплата и управление персоналом 8 для Казахстана» предназначено для реализации кадровой политики предприятия и автоматизации денежных расчетов с персоналом. Кадровой службе программный продукт поможет в решении рутинных задач, в том числе анкетировании, подготовке отчетов о работниках, предоставлении регламентированной отчетности в государственные органы. А руководство предприятия сможет принимать управленческие решения на основе полной и достоверной информации.</pre>
            <div class="images">
                <img src="{{ url_for('static', filename='img/hr1.png') }}" alt="Image 1" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/hr2.png') }}" alt="Image 2" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/hr3.png') }}" alt="Image 3" onclick="openModals(this.src)">
            </div>
            {% if current_user.is_authenticated %}
                <a {% if current_user.role == 'admin' %} href="/admin"{% else %} onclick="sendApplication('Зарплата и управление персоналом для Казахстана')"{% endif %}><button>Подать заявку</button></a>
            {% else %}
                <a onclick="openModal('login-modal')"><button>Подать заявку</button></a>
            {% endif %}
            <a href="https://demo.1c.kz/hrm_prof/ru_RU/"><button>Демо версия</button></a>
        </div>
        <div class="span1">
            <h2>1С:Розница 8 для Казахстана</h2>
            <pre>«1С:Розница для Казахстана 8» — универсальное решение для управления розничной торговлей. Полностью автоматизирует все основные бизнес-процессы как отдельного магазина, так и крупной<br> розничной сети...</pre>
            <div class="images">
                <img src="{{ url_for('static', filename='img/retail1.png') }}" alt="Image 1" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/retail2.png') }}" alt="Image 2" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/retail3.png') }}" alt="Image 3" onclick="openModals(this.src)">
            </div>
            {% if current_user.is_authenticated %}
                <a {% if current_user.role == 'admin' %} href="/admin"{% else %} onclick="sendApplication('1С:Розница 8 для Казахстана')"{% endif %}><button>Подать заявку</button></a>
            {% else %}
                <a onclick="openModal('login-modal')"><button>Подать заявку</button></a>
            {% endif %}
            <a href="https://demo.1c.kz/hrm_prof/ru_RU/"><button>Демо версия</button></a>
        </div>
        <div class="span1">
            <h2>Управление нашей фирмой для Казахстана</h2>
            <pre>Комплексное решение для учета и управления основными процессами небольшого предприятия</pre>
            <div class="images">
                <img src="{{ url_for('static', filename='img/firm1.png') }}" alt="Image 1" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/firm2.png') }}" alt="Image 2" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/firm3.png') }}" alt="Image 3" onclick="openModals(this.src)">
            </div>
            {% if current_user.is_authenticated %}
                <a {% if current_user.role == 'admin' %} href="/admin"{% else %} onclick="sendApplication('Управление нашей фирмой для Казахстана')"{% endif %}><button>Подать заявку</button></a>
            {% else %}
                <a onclick="openModal('login-modal')"><button>Подать заявку</button></a>
            {% endif %}
            <a href="https://demo.1c.kz/hrm_prof/ru_RU/"><button>Демо версия</button></a>
        </div>
        <div class="span1">
            <h2>Аптека для Казахстана</h2>
            <pre>Решение "1С:Аптека для Казахстана" предназначено для автоматизации розничных продаж лекарственных препаратов и сопутствующей продукции в аптеках и аптечных пунктах.
                Ведения товарного учета по сериям лекарственных препаратов.
                Контроля фальсификации и сроков годности.
                Правил ценообразования.
                Предельных наценок на жизненно-необходимые и важные лекарственные препараты (ЖНВЛП).
                </pre>
            <div class="images">
                <img src="{{ url_for('static', filename='img/pharmacy1.png') }}" alt="Image 1" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/pharmacy2.png') }}" alt="Image 2" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/pharmacy3.png') }}" alt="Image 3" onclick="openModals(this.src)">
            </div>
            {% if current_user.is_authenticated %}
                <a {% if current_user.role == 'admin' %} href="/admin"{% else %} onclick="sendApplication('Аптека для Казахстанаы')"{% endif %}><button>Подать заявку</button></a>
            {% else %}
                <a onclick="openModal('login-modal')"><button>Подать заявку</button></a>
            {% endif %}
            <a href="https://demo.1c.kz/hrm_prof/ru_RU/"><button>Демо версия</button></a>
        </div>
        <div class="span1">
            <h2>Бухгалтерия ОСИ, ПТ, УК, СК, КСК для Казахстана</h2>
            <pre>Решение «1С:Бухгалтерия ОСИ, ПТ, УК, СК, КСК для Казахстана», размещенное в качестве интернет-приложения в сервисе "Отраслевой 1С:Фреш", разработано на основе типового решения «Бухгалтерия для Казахстана», ред. 3.0 с сохранением базового функционала. Решение предназначено для автоматизации деятельности в сфере жилищно-коммунального хозяйства: учета собственников жилья, расчета коммунальных услуг, регистрации оплат, ведения бухгалтерского и налогового учета.
                </pre>
            <div class="images">
                <img src="{{ url_for('static', filename='img/zhkh1.png') }}" alt="Image 1" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/zhkh2.png') }}" alt="Image 2" onclick="openModals(this.src)">
                <img src="{{ url_for('static', filename='img/zhkh3.png') }}" alt="Image 3" onclick="openModals(this.src)">
            </div>
            {% if current_user.is_authenticated %}
                <a {% if current_user.role == 'admin' %} href="/admin"{% else %} onclick="sendApplication('Аптека для Казахстанаы')"{% endif %}><button>Подать заявку</button></a>
            {% else %}
                <a onclick="openModal('login-modal')"><button>Подать заявку</button></a>
            {% endif %}
            <a href="https://demo.1c.kz/hrm_prof/ru_RU/"><button>Демо версия</button></a>
        </div>
    </div>
    <div id="imageModal" class="modalsss">
        <span class="closesss" onclick="closeModals()">&times;</span>
        <img class="modal-contentsss" id="modalImage">
    </div>
</section>

<script>
    function openModals(imageSrc) {
        const modal = document.getElementById("imageModal");
        const modalImage = document.getElementById("modalImage");
    
        modalImage.src = imageSrc;
        modal.style.display = "block";
    }
    
    function closeModals() {
        const modal = document.getElementById("imageModal");
        modal.style.display = "none";
    }
    

    function sendApplication(serviceName) {
        const userName = prompt("Введите ваше имя:");
        const userPhone = prompt("Введите ваш телефон:");
        if (userName && userPhone) {
            fetch('/submit_applications', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: userName,
                    phone: userPhone,
                    comment: `Заявка на: ${serviceName}`,
                    notification_type_id : 2
                })
            })
            .then(response => {
                if (response.ok) {
                    alert('Заявка успешно отправлена!');
                } else {
                    alert('Ошибка при отправке заявки.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при отправке заявки.');
            });
        } else {
            alert('Имя и телефон обязательны для заполнения!');
        }
    }
</script>
{% endblock %}
