section.team-block{
    margin-top: 10%;
    padding-top: 15px !important;
  }
  /* На мобильных разрешениях показываем гамбургер и скрываем навигацию по умолчанию */
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block;
      margin-right: 5%;
  }
  section.team-block{
    width: 100%;
    margin-top: 20%;
    padding-top: 15px !important;
  }
  section.why-us{width:100%;}

  .nav-bar {
      display: none; /* Скрыто по умолчанию */
      flex-direction: column;
      background: #fff;
      position: absolute;
      top: 60px; /* Или сколько нужно ниже шапки */
      left: -15px; /* Сдвигаем меню на 15px влево */
      width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-bar a {
      display: block;
      margin: 10px 0;
      color: #180d5b;
      background: none;
      border: none;
  }

  /* Когда будет активен класс active, показываем меню */
  .nav-bar.active {
      display: flex;
  }

  @media (max-width: 440px) {
    .team-container{
      flex-direction: column;
      align-content: center;
      width: 100%;
    }
    .team-block {
      padding: 40px 10px; /* Уменьшено расстояние */
      margin-top: 20%;
    }
  
    .team-block h2 {
      font-size: 1.6rem; /* Уменьшен размер шрифта */
      margin-bottom: 10px; /* Уменьшено расстояние */
    }
  
    .team-container {
      gap: 10px; /* Уменьшено расстояние */
    }
  
    .team-member {
      width: 200px; /* Уменьшен размер */
    }
  
    .why-us {
      margin-top: 40px;
      padding: 20px 10px; /* Уменьшено расстояние */
    }
  
    .why-us h2 {
      font-size: 1.6rem; /* Уменьшен размер шрифта */
      margin-bottom: 10px; /* Уменьшено расстояние */
    }
  
    .why-us-content p {
      margin: 5px 0; /* Уменьшено расстояние */
    }
  
    footer {
      padding: 15px 10px; /* Уменьшено расстояние */
    }
    }
  }

.solutions{
    margin-left: 600px;
}
button {
  width: 100px;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;

}
button:hover {
  background-color: #007BFF;
}
h2,h1,h4{color: #180d5b;
  font-size: 1.5rem;
  margin-bottom: 15px;
  }
